<% title "Game servers" %>



<div class="panel panel-default">
  <div class="panel-heading">List of Game servers</div>
  <div class="panel-body">
    <table class="table">  <thead>
    <tr>
      <th>Name</th>
      <th>IP</th>
      <th>Players</th>
      <th>Map</th>
      <th>Enabled</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @gameservers.each do |gameserver| %>
      <tr>
        <td><%= gameserver.name %></td>
        <td><%= gameserver.ip %>:<%= gameserver.port %></td>
        <td><%= gameserver.players_no %>/<%= gameserver.players_max %></td>
        <td><%= gameserver.map %></td>
        <td><%= gameserver.enabled %></td>
        <td><%= link_to 'Show', gameserver %></td>
        <td><%= link_to 'Edit', edit_gameserver_path(gameserver) %></td>
        <td><%= link_to 'Destroy', gameserver, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
  </div>

</div>

<hr />



<%= form_tag '/import',  method: 'post',id:"import_servers",:multipart => true do %>

    <%= file_field_tag 'file' %><%= submit_tag 'Import', class: "btn btn-primary" %>
<% end %>

<div id="import_bar">

</div>



<hr />
<%= link_to 'New Server', new_gameserver_path, class: "btn btn-primary" %>
